.SearchInput{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	background-color: #fff;
	padding:  5px 10px;
	/* min-width: 200px; */
}
.SearchInput input {
	border: none;
	appearance: none; 
	font-size: 14px;
	width: 100%;
	padding: 0 0 0 20px;
}
.SearchInput input:focus{
	outline: none;
}

@media(max-width: 768px){
	.SearchInput{
		display: flex;
		align-items: center;
		justify-content: flex-start;
		background-color: #fff;
		padding:  5px 10px;
		max-width: 100%;
		border: 1px solid #000;
	}
	
}
