.SearchInput2{
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	background-color: #fff;
	padding:  5px 10px;
	max-width: 250px;
	border: 1px solid #6D6E76;
}
.SearchInput2 input {
	border: none;
	appearance: none; 
	font-size: 14px;
	width: 100%;
	padding: 0 10px 0 0px;
}
.SearchInput2 input:focus{
	outline: none;
}